services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: demo-mssql
    ports:
      - "1433:1433"
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "P@ssw0rd_ChangeMe123!"
      MSSQL_PID: "Developer"
    volumes:
      - mssql-data:/var/opt/mssql
    restart: unless-stopped

  otel-collector:
    image: otel/opentelemetry-collector
    command: [ "--config=/etc/otelcol-config.yaml" ]
    volumes:
      - ./otelcol-config.yaml:/etc/otelcol-config.yaml
    ports:
      - "4317:4317" # OTLP gRPC
      - "4318:4318" # OTLP HTTP
    depends_on:
      - jaeger
      - zipkin
      - tempo

  jaeger:
    image: jaegertracing/all-in-one
    ports:
      - "16686:16686" # UI Jaeger

  zipkin:
    image: openzipkin/zipkin
    ports:
      - "9411:9411" # UI Zipkin

  tempo:
    image: grafana/tempo:latest
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
    ports:
      - "3200:3200"

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    depends_on:
      - tempo
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-data:/var/lib/grafana

volumes:
  mssql-data:
  grafana-data:
